* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: rgba(6, 43, 40, 1);
    --headline: rgba(255, 255, 255, 1);
    --fundo: #E0EFEC;
    --red: #FFB5A5;
    --blue: #4DB0B0;
    --green: #93D0A2;
    --box: #fff;
    font-size: 62.5%;
}

/*Corpo*/
body {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: var(--fundo);
    padding: 0 1.6rem 1.6rem 1.6rem;
}

a {text-decoration: none; color: black;}

/*Cabeçalho*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #96D3C7;
    padding: 1.6rem;
    border-radius: 0 0 16px 16px;
}

header > #menu {
    list-style: none;
    display: flex;
    gap: 16px;

    display: none;
}

/*=== Action Menu ===*/

.action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img {
    height: 100%;
}

.action .menu {
    position: absolute;
    top: 120px;
    right: 16px;
    padding: 10px 20px;
    background-color: white;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    top: 100px;
    right: 16px;
    visibility: visible;
    opacity: 1;
}

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.action .menu h3 span {
    font-size: 16px;
    color: #cecece;
    font-weight: 400;
}

.action .menu li {
    text-align: center;
    list-style: none;
    line-height: 2em;
    
}
.action .menu li {transition: 1s; padding: 8px; border-radius: 8px;}

.action .menu li:hover {
    background-color: rgb(142, 225, 140);
}

.action .menu li:last-child:hover {
    background-color: rgb(223, 18, 18);
}

/*Texto*/
h1 {font-size: 2.4rem; font-weight: bold; color: var(--text);}

h2, li {font-size: 2rem; font-weight: 600; color: var(--text);}

p {font-size: 1.6rem; font-weight: 500; color: var(--text);}

h2, p {font-feature-settings: 'pnum' on, 'lnum' on;}


main {margin-top: 1.6rem;}

.caixa_turmas h2 {margin-bottom: 1.6rem;}

/*Minhas turmas scroll*/
.minhas_turmas {
    max-height: 200rem;
    display: flex;
    overflow-x: auto;
}

.minhas_turmas::-webkit-scrollbar {
    width: 0;
    display: none;
}

/*Elementos*/
.turma {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.6rem;
    padding: 1.6rem 0.8rem 1.6rem 0.8rem;
    margin-right: 1.6rem;
    max-width: 14.2rem;
    height: 19.4rem;
}

.turma p {color: var(--box);}

#t-economia {background-color: var(--blue);}
#t-programacao {background-color: var(--green);}
#t-sistemas {background-color: var(--red);}

/*Tarefas abertas*/
.tarefas {
    background-color: var(--box);
    margin: 4rem 0 4rem 0;
    padding: 1.6rem;
    border-radius: 1.6rem;
    max-width: fit-content;
}

.tarefas > h2 {margin-bottom: 1.6rem;}

.caixa {
    padding: 0 0.8rem 0 0.8rem;
    width: 100%;
    height: 12.8rem;
    margin-bottom: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    /*Texto*/
    text-align: center;
}
.caixa:last-child {margin-bottom: 0rem;}

.caixa h2, p {color: var(--headline);}

.caixa h2 {font-size: 1.8rem;}

#economia {background-color: var(--blue);}
#programacao {background-color: var(--green);}
#sistemas {background-color: var(--red);}

/*Serviços*/
.servico {
    background-color: var(--box);
    padding: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.servico p {color: var(--text);}

@media screen and (min-width: 900px) {
    body {max-width: 1440px;}
    .servicos {display: none;}
    header > #menu {
        display: flex;
    }

    #menu li a {
        transition: 0.4s;
    }

    header > #menu li a:hover {
        color: white;
    }
}

