* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: rgba(6, 43, 40, 1);
    --headline: rgba(255, 255, 255, 1);
    --fundo: #E0EFEC;
    --red: #FFB5A5;
    --blue: #4DB0B0;
    --green: #93D0A2;
    --box: #fff;
    font-size: 62.5%;
}

body {
    max-width: 37.5rem;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    background-color: var(--fundo);
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
}

/*Texto*/
h1 {font-size: 2.4rem; font-weight: bold; color: var(--text);}

h2 {font-size: 2rem; font-weight: 600; color: var(--text);}

a {text-decoration: none;}

/*Cabecalho*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;


}
svg {transform: rotate(180deg);}

main {margin-top: 1.6rem;}

/*Serviços*/
.servico {
    background-color: var(--box);
    padding: 1.6rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}
